*{
        margin: 0;
       
        font-family: 'Open Sans', sans-serif;
}
.text-primary{
        color: #FD6E0A;
        }
.btn-primary{
        color: #FFFFFF;
        font-weight: 700;
        font-size: 20px;
        height: 64px;
        border: 0;
        padding: 15px 26px;
        background: #FD6E0A;
        border-radius: 5px;
        
}
/* header and navigation styles */
.header{
        background: #FFF8F3;
        background-image: url("images/header_bg.png"),url('images/developer.png');
        background-repeat: no-repeat;
        background-position: bottom right,left}
nav{
        display: flex;
        justify-content: space-between;
        margin: 50px 200px;
}
nav ul{
        display: flex;
        align-items: center;
}
nav li{
        list-style: none;
        margin-left: 50px;
}
.navTitle{
        font-weight: 800;
        font-size: 45px;
}
/* banner styles */
.banner{
        display: flex;
        align-items: center;
        margin: 0 200px;
}
       
.banner-title{
        font-weight: 800;
        font-size: 85px;
        color: #181818;
        
}
.banner-sub-title{
        font-weight: 600;
        font-size: 45px;
        color: #474747;
        margin-bottom: 20px;
}
.banner-discription{
        font-weight:400px;
        font-size: 18px;
        color: #474747;
        margin-bottom: 30px;
}
/* Main section styles */
.main{
        max-width: 1140px;
        margin: 0 auto;
}
/* About Me section styles */
.about{
        margin-top: 130px;
        background: #FFF8F3;
        border-radius: 10px;
        padding: 130px 150px;
        text-align: center;
}
.section-title{
        
        margin-bottom: 30px;
        font-size: 25px;

}
.section-discription{
        color: #757575;
        font-size: 18px;
        margin-bottom: 30px;
}
.about-info-container{
        display: flex;
        justify-content: space-around;
  
}
.info-title{
        font-weight: 400;
        font-size: 20px;
        color: #757575;
}
.info-discription{
        font-weight: 700;
        font-size: 20px;
        color: #474747;
}